.header-container {
	container-type: inline-size;
	container-name: header;
	padding: 0.4em 1em;
	border-bottom: 1px solid #eee;
}

.nav-container {
	display: flex;
	gap: 0.8em;
	justify-content: space-between;
	align-items: baseline;
}

.nav-title {
	text-decoration: none;
	color: var(--color-text-header);
}

.nav-title:focus {
	outline: 2px solid var(--color-border);
	outline-offset: 2px;
	border-radius: 4px;
}

.nav-title-text {
	white-space: nowrap;
	font-size: 2em;
}

@container header (max-width: 600px) {
	.nav-title {
		display: none;
	}
}
