.nav-links {
	width: 100%;
}

.nav-links > ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	gap: 1em;
	align-items: center;
	padding: 0; /*Resets ul defaults*/
}

.nav-links a.active {
	text-decoration: underline;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 10px 0;
	color: var(--color-text-header);
	text-decoration: none;
	font-size: 1.5em;
	text-transform: capitalize;
}

.nav-links a:focus {
	outline: 2px solid var(--color-border);
	outline-offset: 2px;
	border-radius: 4px;
}
